<nav class="navbar">
        <div class="container">
            <div class="ui-g">
                <div class="ui-g-12">
                    <a class="navbar-toggle" (click)="exibindoMenu =! exibindoMenu"><i class="fa fa-bars"></i></a>
                </div>
            </div>
        </div>
</nav>
<ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">Wandes Gomes</li>
    <li class="navbar-menuitem"><a routerLink="/listar"  >Listar Produtos</a></li>
    <li class="navbar-menuitem"><a routerLink="/cadastrar"  >Cadastrar Produtos</a></li>
    <li class="navbar-menuitem"><a (click)="exibindoMenu = false">Fechar</a></li>
</ul>


